@charset "UTF-8";
/* CSS Document */

/************************************************************************************
Top Main Menu Navigation Elements
*************************************************************************************/

.top-nav {
	position: fixed;
	width: 100%;
	height: 75px;
	z-index: 900;
	background: rgba(241,111,92,1);
	background: -moz-linear-gradient(left, rgba(241,111,92,1) 0%, rgba(241,111,92,1) 29%, rgba(232,15,106,1) 78%, rgba(232,15,106,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,111,92,1)), color-stop(29%, rgba(241,111,92,1)), color-stop(78%, rgba(232,15,106,1)), color-stop(100%, rgba(232,15,106,1)));
	background: -webkit-linear-gradient(left, rgba(241,111,92,1) 0%, rgba(241,111,92,1) 29%, rgba(232,15,106,1) 78%, rgba(232,15,106,1) 100%);
	background: -o-linear-gradient(left, rgba(241,111,92,1) 0%, rgba(241,111,92,1) 29%, rgba(232,15,106,1) 78%, rgba(232,15,106,1) 100%);
	background: -ms-linear-gradient(left, rgba(241,111,92,1) 0%, rgba(241,111,92,1) 29%, rgba(232,15,106,1) 78%, rgba(232,15,106,1) 100%);
	background: linear-gradient(to right, rgba(241,111,92,1) 0%, rgba(241,111,92,1) 29%, rgba(232,15,106,1) 78%, rgba(232,15,106,1) 100%);
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f16f5c', endColorstr='#e80f6a', GradientType=1 );
}

.nav-content {
	width: 1200px;
	height: 75px;
	margin: 0 auto;
}

.nav-top {
	float: right;
	list-style-type: none;/*	background-color: brown;*/
	margin: 32px 0 0;
}

.nav-top li {
	display: inline;
	float: left;
	font-size: 14px; /*	Add a grey right border to all list items, except the last item (last-child) */
}

.nav-top li:last-child {
	border-right: none; /* Add a grey right border to all list items, except the last item (last-child) */
}

.nav-top a {
	text-decoration: none;
	padding: 0 30px 0 30px;
	color: #ffffff;
}

.nav-top a:link {
	color: #ffffff;
	padding: 32px 30px 27px 30px;
}

.nav-top a:hover {
	color: #000000;
}

.nav-top > .active > a {
	color: #fcc71f;
}

.nav-top > .active-d > a {
	color: #000;
}








#holder > * {
    display: block;
    margin: auto;
    max-width: 300px;
    max-height: 300px;
}
#holder {
       border: 10px dashed #ccc;
       width: 300px;
       height: 300px;
       margin: 20px auto;
}
#holder.hover {
  border: 10px dashed #333;
}

#submitbtn {
  margin: 10px 10px 10px 0;
}

#upload-pic {
    transition: opacity 0.4s ease-in-out;
    margin: 20px;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.2);
}

td, th {
    /*border: 1px solid black;
    width: 105%;
    padding: 15px;*/

    min-height: 100px;
      width: 200px;
      border: 3px dashed #ccc;
      margin: 10px;
      padding: 10px;
}

table {
    /*border: 1px solid black;*/
    padding: 10px;
    margin: 10px;
    border-collapse: collapse;
    width: 100%;
}

#table_layout {
  border: 1px solid black;
  width: auto;
  height: auto;
}

td {
    width: 15%;
    height: 100px;
    /*overflow: hidden;
    vertical-align: bottom;
    display: inline-block;
    white-space: nowrap;*/
}

td.gallery {
    width: 80px;
    height: 45px;
}

.thumb{
    height: 100px;
    width: 150px;
    padding-left: 10px;
}

/*.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}*/
